{##
 #  Page metadata
 #}
{% extends ':Admin:master.html.twig' %}

{% block title %}Galleries{% endblock %}


{##
 #  Page content
 #}
{% block body %}

    <section class="main">
        <section class="page-title">
            <div class="pull-right">
                <a class="btn btn-success" href="{{ url('seer_ukd_wright_admin_gallery_new_gallery') }}"><i class="icon-plus icon-white"></i> Add Gallery</a>
                <a class="btn" href="{{ url('seer_ukd_wright_gallery_homepage') }}">View Galleries</a>
            </div>
            <h4>Portfolio</h4>
        </section>

        {% if galleries|length %}

            <ul class="clearfix thumbnails">

                {% for gallery in galleries %}

                    {% spaceless %}

                        <li>
                            {% if gallery.galleryImages|length %}
                                <img src="{{ asset(gallery.galleryImages[0].webThumbPath) }}" alt="" title="" />
                            {% else %}
                                <img src="http://placehold.it/200x200" alt="" title="" />
                            {% endif %}
                            <section class="desc">
                                <p>{{ gallery.name }}</p>
                            </section>
{#
                            <header>
                                <p>Posted {{ gallery.posted|relativeDateTime }}</p>
                                <a class="btn" href="{{ url('seer_ukd_wright_gallery_gallery_short', { 'galleryId': gallery.id }) }}">View Gallery</a>
                            </header>
#}
                        </li>

                    {% endspaceless %}

                {% endfor %}

            </ul>

        {% else %}

            <p class="text-center">There are currently no galleries.</p>

        {% endif %}

    </section>

{% endblock %}
