{% set primary_nav = menu_data('admin_primary') %}

{% spaceless %}

<nav role="navigation">
    <ul class="nav">
        {% for key, item in primary_nav if item.enabled is defined and item.enabled %}

            {% set active = '' %}
            {% if item.routes is defined and app.request.attributes.get('_route') in item.routes %}
                {% set active = 'active' %}
            {% endif %}

            <li class="{{ item.class }} {{ active }}">
                {% if item.target is defined %}

                    <a class="{{ active }}" href="{{ url(item.target) }}">{{ key }}</a>

                {% else %}

                    {{ key }}

                {% endif %}
            </li>

        {% endfor %}
    </ul>
</nav>

{% endspaceless %}