<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <title>{% block title %}{% endblock %}{% if block('title') %} | {% endif %}{{ site_name }}</title>

    {# Start CSS Stylesheets #}

    <link href='{{ asset('http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,700') }}' rel='stylesheet' type='text/css' />
    <link href='{{ asset('http://fonts.googleapis.com/css?family=Open+Sans:400,700') }}' rel='stylesheet' type='text/css' />

    {% stylesheets
        'bundles/seerukdwrightcore/css/bootstrap.css'
        'bundles/seerukdwrightcore/css/bootstrap-responsive.css'
        'bundles/seerukdwrightcore/css/style.css'
        filter='cssrewrite,yui_css' combine=true output='css/corebundle.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}

    {# End CSS Stylesheets #}
</head>
<body>
    {% include 'SeerUKDWrightCoreBundle:Core:header.html.twig' %}

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    {% include 'SeerUKDWrightCoreBundle:Core:footer.html.twig' %}

    {# Start JS Scripts #}

    <script src='{{ asset('http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js') }}' type='text/javascript'></script>

    {% javascripts
        '@SeerUKDWrightCoreBundle/Resources/public/js/bootstrap.js'
        '@SeerUKDWrightCoreBundle/Resources/public/js/core.js'
        filter='yui_js' combine=true output='css/corebundle.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}{% endblock %}

    {# End JS Scripts #}
</body>
</html>