{% extends 'SeerUKDWrightCoreBundle:Core:master.html.twig' %}


{% block stylesheets %}

    {% include 'SeerUKDWrightGalleryBundle:Generic:stylesheets.html.twig' %}

{% endblock %}


{% block javascripts %}

    {% include 'SeerUKDWrightGalleryBundle:Generic:javascripts.html.twig' %}

{% endblock %}


{% block title %}{{ category.name }}{% endblock %}


{% block body %}

    <div class="content">
        <h2 class="content-title">{{ category.name }}</h2>
    </div>

    <a href="#" class="featured-image">
        <img src="{{ asset('http://placebacn.com/1350/400') }}" alt="" title="" />
    </a>

    <div class="content">
        <p>{{ category.desc|raw }}</p>
    </div>

        {% if category.galleries %}

            <ul class="clearfix galleries">

                {% for gallery in category.galleries %}

                    <li>
                        <div>
                            <div class="overlay">
                                <h3 class="entry-title">{{ gallery.name }}</h3>
                                <p class="desc">{{ gallery.desc|raw }}</p>
                                <p class="posted"><em>{{ gallery.posted|date('Y-m-d H:i:s') }}</em></p>
                            </div>

                            {% if gallery.galleryImages[0] %}

                                <img src="{{ asset(gallery.galleryImages[0].webThumbPath) }}" alt="" title="" />

                            {% else %}

                                <img src="{{ asset('http://placebacn.com/400/400') }}" alt="" title="" />

                            {% endif %}

                        </div>
                    </li>

                {% endfor %}

            </ul>

        {% endif %}

{% endblock %}
