{% extends 'SeerUKDWrightCoreBundle:Core:master.html.twig' %}


{% block stylesheets %}

    {% include 'SeerUKDWrightGalleryBundle:Generic:stylesheets.html.twig' %}

{% endblock %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}

    <div class="row-fluid">
        <div class="span12">
            <h1>{{ category.name }} ({{ category.id }})</h1>
            <p>{{ category.desc }}</p>

            {% if galleries %}

                <p>There are the following galleries in this category:</p>

                <ul class="clearfix galleries">

                    {% for gallery in galleries %}

                        <li>
                            <div>
                                <div class="desc">
                                    <strong>{{ gallery.name }}</strong><br />
                                    <span>{{ gallery.desc }}</span><br />
                                    <span>{{ gallery.posted|date('Y-m-d H:i:s') }}</span><br />
                                </div>

                                {% if galleryImages[gallery.id] %}

                                    <img src="{{ asset(galleryImages[gallery.id].getWebPath) }}" alt="" title="" />

                                {% else %}

                                    <img src="{{ asset('http://placehold.it/305x229') }}" alt="" title="" />

                                {% endif %}

                            </div>
                        </li>

                    {% endfor %}

                </ul>

            {% endif %}

        </div>
    </div>

{% endblock %}