{% extends 'SeerUKDWrightCoreBundle:Core:master.html.twig' %}


{% block stylesheets %}

    {% include 'SeerUKDWrightGalleryBundle:Generic:stylesheets.html.twig' %}

{% endblock %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}

    <h1>{{ category.name }} ({{ category.id }})</h1>
    <p>{{ category.desc }}</p>

    {% if galleries %}

        <p>There are the following galleries in this category:</p>

        <ul>

            {% for gallery in galleries %}

                <li>
                    <strong>{{ gallery.name }}</strong><br />
                    <span>{{ gallery.desc }}</span><br />
                    <span>{{ gallery.posted|date('Y-m-d H:i:s') }}</span><br />

                    {% if galleryImages[gallery.id] %}

                        <img src="{{ asset(galleryImages[gallery.id].getWebPath) }}" alt="" title="" />

                    {% else %}

                        <span>No cover photo</span>

                    {% endif %}

                </li>

            {% endfor %}

        </ul>

    {% endif %}

{% endblock %}