{##
 #  Page metadata
 #}
{% extends 'SeerUKDWrightCoreBundle:Core:master.html.twig' %}

{% block stylesheets %}
    {% include 'SeerUKDWrightGalleryBundle:Generic:stylesheets.html.twig' %}
{% endblock %}

{% block javascripts %}
    {% include 'SeerUKDWrightGalleryBundle:Generic:javascripts.html.twig' %}
{% endblock %}

{% block title %}{{ gallery.name }}{% endblock %}


{##
 #  Page content
 #}
{% block body %}

    <div class="hero-unit">
        <h1>{{ gallery.name }}</h1>
        <small>Possible gallery sub-title, this should probably be an optional feature...</small>
    </div>

    <div class="content">
        <div class="content-desc">
            {# Content here should be in paragraphs... #}
            {{ gallery.desc|raw }}

            <p><small class="muted">PUBLISHED</small><br />{{ gallery.posted|relativeDateTime }}</p>
            <p><small class="muted">NUMBER OF IMAGES</small><br />{{ gallery.galleryImages|length }}</p>
        </div>
        <div class="content-gallery">

            {% if gallery.galleryImages|length %}

                <ul class="clearfix thumbnails">

                    {% for galleryImage in gallery.galleryImages %}

                        <li>
                            <img src="{{ asset(galleryImage.webPath) }}" alt="" title="" />
                        </li>

                    {% endfor %}

                    {% for galleryImage in gallery.galleryImages %}

                        <li>
                            <img src="{{ asset(galleryImage.webPath) }}" alt="" title="" />
                        </li>

                    {% endfor %}

                    {% for galleryImage in gallery.galleryImages %}

                        <li>
                            <img src="{{ asset(galleryImage.webPath) }}" alt="" title="" />
                        </li>

                    {% endfor %}

                    {% for galleryImage in gallery.galleryImages %}

                        <li>
                            <img src="{{ asset(galleryImage.webPath) }}" alt="" title="" />
                        </li>

                    {% endfor %}

                    {% for galleryImage in gallery.galleryImages %}

                        <li>
                            <img src="{{ asset(galleryImage.webPath) }}" alt="" title="" />
                        </li>

                    {% endfor %}

                    {% for galleryImage in gallery.galleryImages %}

                        <li>
                            <img src="{{ asset(galleryImage.webPath) }}" alt="" title="" />
                        </li>

                    {% endfor %}

                </ul>

            {% endif %}

        </div>
    </div>

{% endblock %}
