{##
 #  Page metadata
 #}
{% extends 'SeerUKDWrightCoreBundle:Core:master.html.twig' %}

{% block stylesheets %}
    {% include 'SeerUKDWrightGalleryBundle:Generic:stylesheets.html.twig' %}
{% endblock %}

{% block javascripts %}
    {% include 'SeerUKDWrightGalleryBundle:Generic:javascripts.html.twig' %}
{% endblock %}

{% block title %}{{ gallery.name }}{% endblock %}


{##
 #  Page content
 #}
{% block body %}

    <div class="hero-unit">
        <h1>{{ gallery.name }}</h1>
        <small>Possible gallery sub-title, this should probably be an optional feature...</small>
    </div>

    <div class="content">
        <div class="content-desc">
            <p><small class="muted muted-emp">Published {{ gallery.posted|relativeDateTime }}</small></p>

            {# Content here should be in paragraphs... #}
            {{ gallery.desc|raw }}
        </div>
        <div class="content-gallery">

            {% if gallery.galleryImages|length %}

                <ul class="clearfix thumbnails">

                    {% for galleryImage in gallery.galleryImages %}

                        <li>
                            <div>
                                <div class="overlay">
                                    <h3 class="entry-title">{{ galleryImage.name }}</h3>
                                    <p class="posted"><span class="emp">{{ galleryImage.posted|relativeDateTime }}</span></p>
                                </div>

                                <img src="{{ asset(galleryImage.webThumbPath) }}" alt="" title="" />
                            </div>
                        </li>

                    {% endfor %}

                </ul>

            {% endif %}

        </div>
    </div>

{% endblock %}
