{##
 #  Page metadata
 #}
{% extends '::master.html.twig' %}

{% block stylesheets %}
    {% include 'SeerUKDWrightGalleryBundle:Generic:stylesheets.html.twig' %}
{% endblock %}

{% block javascripts %}
    {% include 'SeerUKDWrightGalleryBundle:Generic:javascripts.html.twig' %}
{% endblock %}

{% block title %}Portfolio{% endblock %}


{##
 #  Page content
 #}
{% block body %}

    <div class="hero-unit">
        <h1>Portfolio</h1>
        <small>Peruse my galleries</small>
    </div>

    <div class="content">
        <div class="content-category">

            {% if galleries|length %}

                <ul class="clearfix thumbnails">

                    {% for gallery in galleries %}

                        <li>
                            <div>
                                <div class="overlay">
                                    <a class="" href="{{ url('seer_ukd_wright_gallery_gallery_short', { 'galleryId': gallery.id }) }}"></a>
                                    <h3 class="entry-title">{{ gallery.name }}</h3>
                                    <p class="posted"><span class="emp">{{ gallery.posted|relativeDateTime }}</span></p>
                                </div>

                                {% if gallery.galleryImages|length %}

                                    <img src="{{ asset(gallery.galleryImages[0].webThumbPath) }}" alt="" title="" />

                                {% else %}

                                    <img src="{{ asset('http://placebacn.com/400/400') }}" alt="" title="" />

                                {% endif %}

                            </div>
                        </li>

                    {% endfor %}

                </ul>

            {% endif %}

        </div>
    </div>

{% endblock %}
